span {

    background-color:blue ;
    width: 200px;
   height: 100px;
   
   
}
h1{

    background-color:rgb(249, 10, 153) ;
    width: 400px;
   height: 400px;
}

p{
    
    background-color:rgb(249, 10, 153) ;
    width: 400px;
   height: 400px;
    line-height: 20px;
    word-spacing: 40px;

}
.p2{
    display: none;
}
