h1 {

    background-color:blue ;
    padding: 20px;
    text-align: center;
    width: 20%;
   border-radius: 10%;
   color: rgb(14, 210, 33);
   font-weight: 300;
   
}
h1:hover{

    background-color:rgb(249, 10, 153) ;
}

.p{
    line-height: 20px;
    word-spacing: 40px;

}
